#!/usr/bin/bash

# Create mesh
|-MESHER-|

# Initialize alpha field
setAlphaField

<!--(if N_CORES_TOTAL > 1)-->
# Decompose for parallel computation. Only if more than 1 core is used.
decomposePar
<!--(end)-->

# Run solver
mpirun -n |-N_CORES_TOTAL-| |-solver-| -parallel
