#!/usr/bin/bash

# NOTE: this case setup is not prepared for parallel runs.
# Even with a resolution of 256x256 cells we are well below
# the 100k cells/per core threshold.

# Create mesh
|-MESHER-|

# Initialize alpha field
setAlphaField

# Run solver
<!--(if "interFlow" in solver)-->
interFlow
<!--(else)-->
|-solver-|
<!--(end)-->
